# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a80f2f57f2637dc840fdeca25fc89f05bde9d98a9148428f4a1d8d3665f1b9e70e55753931ee3c431fd9f4df3fc92a3ff0183ac0b0de391d798db547b5a9ccd4

test:
  secret_key_base: b6a79bf652db435c951430c08d58fdfa34ac44b0e27eeea93c01e83b26289261ebb803b9c642ee288bbef6fac1687001b5cba27c13ab0596084970e35f1d8e69

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
